<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('navbar2.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thread Page</title>
</head>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

<style>
  .comment-card {
    background-color: rgb(245, 146, 146);
    border-radius: 3px;
    border: 2px solid gray;
    padding-bottom: 3px;
    padding-left: 5px;
    margin-bottom: 1%;
  }

  .level2 {
    margin-left: 5%;
  }

  .level3 {
    margin-left: 10%;
  }

  .level4 {
    margin-left: 15%;
  }

  .level5 {
    margin-left: 20%;
  }

  .comment-title {
    width: 100%;
    padding-left: 10px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
  }

  .comment-container {
    display: flex;
    flex-direction: row;
  }

  .collaps {
    width: 5%;
    border: 1px solid black;
    border-radius: 40px;
    text-align: center;
    align-self: center;
  }

  .vote-section {
    width: 5%;
    text-align: center;
    padding: 1%;
  }

  .comment-body {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    padding: 1%;
    width: 90%;
  }

  .comment-footer {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    padding-top: 5px;
  }

  .comment-user {
    width: 10%;
    text-align: center;
    font-style: italic;

  }

  .comment-timestamp {
    width: 10%;
    padding-left: 10px;
  }

  .comment-title {
    text-align: center;
  }

  .tags {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: end;
    padding-right: 5%;
    padding-left: 1%;
  }

  .tag {
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 20px;
    border: 1px solid black;
  }

  .add-tag {
    font-style: italic;
    background-color: rgb(227, 115, 222);
  }

  h1,
  p {
    text-align: center;
  }

  button {
    background: #0F2027;
    color: white;
    font: inherit;
  }
</style>
<script>
  const api_url = '/api/getPosts';
  async function getPosts() {
    const response = await fetch(api_url.concat(`?threadTitle=${'<%= threadTitle %>'}`));
    const data = await response.json();
    const list = document.getElementById("commentsContainer");

    let postRowBody = "";

    data[0].posts.forEach((item) => {
      postRowBody = postRowBody + `<div class="comment-card">

        <div class="comment-container">
          <div class="vote-section">
            <!-- Upvote thingy goes here -->
            <div class="upvote">
              <button class="delete">Upvote</button>
            </div>
            45
          </div>
          <div class="comment-body">`+
        item.postContent +
        `</div>
        </div>
        <div class="comment-footer">
          <div class="comment-user">
            `+ item.postUser + `
          </div>
          <div class="comment-timestamp">
            `+ item.postTime + `
          </div>
          <div class="tags">
            <div class="tag">
              tag 1
            </div>
            <div class="tag">
              tag 2
            </div>
            <div class="tag">
              tag 3
            </div>
            <div class="tag add-tag">
              add tag
            </div>
          </div>
        </div>
      </div>`;
    });
    list.innerHTML = postRowBody;

    var threadTitle = `${'<%= threadTitle %>'}`;
    document.getElementsByName('threadTitle')[0].value = threadTitle;
  }
  getPosts();
</script>


<body class="d-flex flex-column min-vh-100">
  <br>
  <h1>Thread Page</h1>
  <br>
  <div class="comment-title">
    <%= threadTitle %>
      <p>
        <%= threadContent %>
      </p>
  </div>
  <div class="mainContainer">
    <div class="commentsContainer" id="commentsContainer">

    </div>

    <div class="comment-card">
      <form action="/api/addPost" method="post">
        <input type="hidden" name="threadTitle" value="" />
        Add a new post:<textarea rows="4" cols="50" name="post">Enter text here...</textarea>
        <input type="submit">
      </form>
      <br>
    </div>
  </div>
</body>

</html>